Repository openstack-archive/devstack-gate: changes, and which Zuul jobs are due for each by the changed paths.
All: devstack-lxc, devstack-legacy-tempest-dsvm-neutron-full

.zuul.yaml:

- nodeset:
    name: devstack-single-node
    nodes:
      - name: primary
        label: ubuntu-xenial

- job:
    name: devstack
    parent: multinode
    description: Base devstack job.
    pre-run:
      playbooks/pre
    post-run:
      playbooks/post

- job:
    name: devstack-lxc
    parent: devstack
    description: A job which sets something in local.conf
    vars:
      devstack_local_conf_contents: |
        [[local|localrc]]
        LIBVIRT_TYPE=lxc
        NOVA_BACKEND=LVM

- job:
    name: devstack-legacy
    parent: base-test
    description: |
      Legacy devstack base job

      This job runs devstack-gate with as few changes as possible and
      may be used by jobs which have been automatically converted as
      part of the migration to Zuul v3.

    nodes: devstack-single-node
    required-projects:
      - openstack-dev/devstack
      - openstack-infra/devstack-gate
      - openstack-infra/tripleo-ci
      - openstack/ceilometer
      - openstack/ceilometermiddleware
      - openstack/cinder
      - openstack/django_openstack_auth
      - openstack/glance
      - openstack/glance_store
      - openstack/heat
      - openstack/heat-cfntools
      - openstack/heat-templates
      - openstack/horizon
      - openstack/keystone
      - openstack/keystoneauth
      - openstack/keystonemiddleware
      - openstack/manila
      - openstack/manila-ui
      - openstack/neutron
      - openstack/neutron-fwaas
      - openstack/neutron-lbaas
      - openstack/neutron-vpnaas
      - openstack/nova
      - openstack/octavia
      - openstack/os-apply-config
      - openstack/os-brick
      - openstack/os-client-config
      - openstack/os-collect-config
      - openstack/os-net-config
      - openstack/os-refresh-config
      - openstack/osc-lib
      - openstack/requirements
      - openstack/swift
      - openstack/tempest
      - openstack/tempest-lib
      - openstack/tripleo-heat-templates
      - openstack/tripleo-image-elements
      - openstack/tripleo-incubator
      - openstack/zaqar
    timeout: 7200
    pre-run:
      playbooks/legacy-pre
    post-run:
      playbooks/legacy-post

- job:
    name: devstack-legacy-tempest-dsvm-neutron-full
    parent: devstack-legacy
    vars:
      devstack_local_conf_contents: |
        [[local|localrc]]
        ENABLE_FILE_INJECTION=True
      devstack_legacy_shell: |
        #!/bin/bash -xe
        export PYTHONUNBUFFERED=true
        export DEVSTACK_GATE_TEMPEST=1
        export DEVSTACK_GATE_TEMPEST_FULL=1
        export DEVSTACK_GATE_NEUTRON=1
        export DEVSTACK_GATE_TLSPROXY=1
        export BRANCH_OVERRIDE=default
        if [ "$BRANCH_OVERRIDE" != "default" ] ; then
            export OVERRIDE_ZUUL_BRANCH=$BRANCH_OVERRIDE
        fi
        cp devstack-gate/devstack-vm-gate-wrap.sh ./safe-devstack-vm-gate-wrap.sh
        ./safe-devstack-vm-gate-wrap.sh

- project:
    name: openstack-infra/devstack-gate
    check:
      jobs:
        - devstack-lxc:
            files:
              - ^playbooks/pre
              - ^playbooks/post
              - ^playbooks/devstack
              - ^roles/
        - devstack-legacy-tempest-dsvm-neutron-full:
            files:
              - ^playbooks/legacy-pre
              - ^playbooks/legacy-post
              - ^playbooks/devstack-legacy

Zuul v3: create stack and tempest users
  playbooks/pre.yaml
  roles/setup-devstack-source-dirs/tasks/main.yaml
  roles/setup-stack-user/README.rst
  roles/setup-stack-user/defaults/main.yaml
  roles/setup-stack-user/files/50_stack_sh
  roles/setup-stack-user/tasks/main.yaml
  roles/setup-tempest-user/README.rst
  roles/setup-tempest-user/files/51_tempest_sh
  roles/setup-tempest-user/tasks/main.yaml
Due: devstack-lxc

Zuul v3: Add devstack_local_conf ansible module
  .zuul.yaml
  playbooks/devstack.yaml
  playbooks/legacy-pre.yaml
  playbooks/library/__init__.py
  roles/setup-devstack-source-dirs/tasks/main.yaml
  roles/write-devstack-local-conf/README.rst
  roles/write-devstack-local-conf/defaults/main.yaml
  roles/write-devstack-local-conf/library/devstack_local_conf.py
  roles/write-devstack-local-conf/tasks/main.yaml
Due: devstack-lxc, devstack-legacy-tempest-dsvm-neutron-full

Zuul v3: run devstack
  .zuul.yaml
  playbooks/devstack.yaml
  playbooks/pre.yaml
  roles/run-devstack/README.rst
  roles/run-devstack/defaults/main.yaml
  roles/run-devstack/tasks/main.yaml
  roles/setup-devstack-cache/README.rst
  roles/setup-devstack-cache/defaults/main.yaml
  roles/setup-devstack-cache/tasks/main.yaml
  roles/write-devstack-local-conf/library/devstack_local_conf.py
Due: devstack-lxc

Fix junk whitespace character typo
  playbooks/roles/ovs_vxlan_bridge_peers/tasks/main.yaml
Due: none

Zuulv3: Ansiblise ephemeral/swap setup
  playbooks/pre.yaml
  roles/configure-swap/README.rst
  roles/configure-swap/defaults/main.yaml
  roles/configure-swap/tasks/ephemeral.yaml
  roles/configure-swap/tasks/main.yaml
  roles/configure-swap/tasks/root.yaml
Due: devstack-lxc

Create stack home folder
  roles/setup-stack-user/tasks/main.yaml
Due: devstack-lxc

Zuul v3: Save devstack log
  .zuul.yaml
Due: none

Zuul v3: export devstack journal
  playbooks/post.yaml
  roles/export-devstack-journal/README.rst
  roles/export-devstack-journal/defaults/main.yaml
  roles/export-devstack-journal/tasks/main.yaml
Due: devstack-lxc

Remove devstack-legacy base job
  .zuul.yaml
  playbooks/legacy-post.yaml
  playbooks/legacy-pre.yaml
  playbooks/legacy/tempest-dsvm-neutron-full/post.yaml
  playbooks/legacy/tempest-dsvm-neutron-full/run.yaml
Due: devstack-legacy-tempest-dsvm-neutron-full

Don't double-quote the rsync options
  playbooks/legacy/tempest-dsvm-neutron-full/post.yaml
Due: none

Remove manually added legacy-tempest-dsvm-neutron-full
  .zuul.yaml
  playbooks/legacy/tempest-dsvm-neutron-full/post.yaml
  playbooks/legacy/tempest-dsvm-neutron-full/run.yaml
Due: none

Check for branches in zuulv3 git repos properly
  functions.sh
Due: none

Work around cffi install error
  devstack-vm-gate-wrap.sh
Due: none

Use = for string comparisons
  devstack-vm-gate-wrap.sh
Due: none

Stop it with the moving then copying of cache files
  functions.sh
Due: none

Don't set CEILOMETER_BACKEND in localrc
  devstack-vm-gate-wrap.sh
  devstack-vm-gate.sh
Due: none

Revert "Work around cffi install error"
  devstack-vm-gate-wrap.sh
Due: none

Checkout from -eol tag if stable branch does not exist
  functions.sh
Due: none

Use stackviz tarball from cache directly
  functions.sh
Due: none

Add fallback to -eol tag if stable branch doesn't exists
  functions.sh
  test-functions.sh
Due: none

Fix setup_project checking out eol with branch name
  functions.sh
Due: none

Create a test matrix role
  .zuul.yaml
  devstack-vm-gate-wrap.sh
  devstack-vm-gate.sh
  roles/test-matrix/README.rst
  roles/test-matrix/defaults/main.yaml
  roles/test-matrix/files/features.yaml
  roles/test-matrix/library/test_matrix.py
  roles/test-matrix/tasks/main.yaml
  test-features.sh
Due: devstack-lxc

Import tox jobs
  .zuul.yaml
Due: none

Move commands to the base testenv
  .zuul.yaml
  tox.ini
Due: none

Remove run-tests and py3-run-tests
  .zuul.yaml
  tox.ini
Due: none

Handle a stestr results directory
  functions.sh
Due: none

Handle stestr execution for stackviz
  functions.sh
Due: none

Set up stable/queens
  roles/test-matrix/files/features.yaml
Due: devstack-lxc

Remove tempest-lib
  devstack-vm-gate-wrap.sh
Due: none

Zuul: Remove project name
  .zuul.yaml
Due: none

Check for virtualenv binary
  roles/test-matrix/tasks/main.yaml
Due: devstack-lxc

Update grenade settings for stable/queens
  devstack-vm-gate-wrap.sh
Due: none

Add stable/queens integration checks
  .zuul.yaml
Due: none

Return a proper boolean True instead of a 'True' string
  roles/test-matrix/library/test_matrix.py
Due: devstack-lxc

Add neutron-tempest-plugin-api job
  .zuul.yaml
Due: none

Add stable/pike Tempest bitrot job
  .zuul.yaml
Due: none

Fix bashate "local hides exit status" warnings
  devstack-vm-gate.sh
  functions.sh
  test-features.sh
  test-functions.sh
  tox.ini
Due: none

Remove setting of ETCD_DOWNLOAD_URL
  devstack-vm-gate.sh
Due: none

Remove retired tripleo-incubator from PROJECTS list
  devstack-vm-gate-wrap.sh
Due: none
